.idea/
target/

# sbt specific
.lib/
dist/*
lib_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# borrowed from typesafe
*#
*.ipr
*.iws
*.pyc
*.tm.epoch
*.vim
*-shim.sbt
/project/plugins/project
project/boot
/logs
.cache
.classpath
.project
.settings
*.log
